---
import Link from "./Link.astro";

interface Props {
  category?: string;
  shortTitle?: string;

  title?: string;

  links: {
    label: string;
    href: string;
  }[];

  light?: boolean;
  invert?: boolean;
  border?: boolean;
}

const {
  category,
  shortTitle,
  title,
  links,
  light = false,
  invert = false,
  border = true,
}: Props = Astro.props;
---

<div class:list={["presentation-card", { invert }]}>
  <img src="/background.jpg" alt="Capitole du Libre" />
  <div class="content">
    {category && <h2 class:list={{ light }}>{category}</h2>}
    {shortTitle && <h3 class:list={{ light }}>{shortTitle}</h3>}

    <div class:list={["description", { border }]}>
      {title && <h4 class:list={{ light }}>{title}</h4>}
      <slot />
    </div>

    <div class="links">
      {
        links.map((link) => (
          <Link href={link.href} color="primary" class="button">
            {link.label}
          </Link>
        ))
      }
    </div>
  </div>
</div>

<style>
  .presentation-card {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin: 5rem 2rem;
    padding: 0 1em;

    @media screen and (max-width: 800px) {
      flex-wrap: wrap;
      max-width: 450px;
      margin: 5rem auto;
    }

    &.invert {
      flex-direction: row-reverse;
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }

    img {
      width: 50%;
      border-radius: 10px;
      object-fit: cover;
      object-position: center;
      min-width: 300px;
      max-height: max-content;
    }

    .content {
      display: flex;
      flex-direction: column;
      max-width: 600px;
      padding: 0.5rem 0;

      h2 {
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: 0.9rem;

        &.light {
          color: #fff;
        }
      }

      h3 {
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: 1.5rem;

        &.light {
          color: #fff;
        }
      }

      h4 {
        margin-bottom: 1rem;
        font-weight: 400;
        font-size: 1.25rem;
      }

      p {
        font-weight: 300;
        margin: 0.5rem 0;
      }

      .description {
        margin-bottom: 1rem;
        &.border {
          background:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(45deg, var(--primary), var(--secondary)) border-box;
          padding: 0.5em;
          border: 1px solid transparent;
          border-radius: 5px;
          display: inline-block;
        }
      }

      .links {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-around;
      }
    }
  }
</style>
